body{
    position: relative;
    width: 1440px;
    height: 600px;
    background-image: url(../image/que-es-seguridad-informatica.jpg);
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 15px;
    }

header img{
    position: absolute;
    left: 4.27%;
    right: 87.2%;
    top: 25%;
    bottom: 25%;
}

.area-text{
    position: absolute;
    width: 670px;
    height: 339px;
    left: 240px;
    top: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #0A3871;
    opacity: 0.7;
    border: 0;
    outline: none;
    resize: none;
    text-transform: lowercase;
}

.area-text::placeholder{
    color: #0A3871;
    font-weight: 200;
    
}

.caja-contenedora{
    position: absolute;
    width: 400px;
    height: 650px;
    left: 1000px;
    top: 30px;
    background: #FFFFFF; 
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    box-sizing: content-box;
}

.caja-contenedora textarea{
    width: 336px;
    height: 505px;
    position: absolute;
    top: 50px;
    left: 28px;
    border: none;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    box-sizing: border-box;
    
}

.caja-contenedora img {
    position: absolute;
    width: 300px;
    height: 250px;
    left: 40px;
    top: 150px;
}

.caja-contenedora .icono{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 32px;
    height: 32px;
    display: flex;
    top: 14px;
    left: 350px;
}

.caja-contenedora .icono:hover{
    background: url(../image/archives-black.png);
}

.texto-caja{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 100px;
    left: 1090px;
    top: 450px;
}

.texto-caja h2{
    width: 238px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.texto-caja p{
    width: 240px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    display: flex;
    left: 30px;   
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    color: #FFFFFF;
    position: absolute;
    width: 245px;
    height: 18px;
    left: 240px;
    top: 551px;
}

.encriptar{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 617px;
}

.button-encriptar{
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 134px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: 50%;
    order: 0;
    color: #FFFFFF;
    cursor: pointer;
}

.button-encriptar:hover{
    background: #D8DFE8;
    color: #0A3871;

}

.button-encriptar img{
    position: absolute;
    left: 108px;
    top: 18px;
}

.button-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 134px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}
.button-desencriptar img{
    box-sizing: border-box;
    display: flex;
    position: absolute;
    right: 198px;
    top: 18px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.button-desencriptar:hover{
    background:#0A3871 ; 
    color: #D8DFE8;
    border: 1px solid #D8DFE8;
}
.texto-caja button{
    top: 150px;
    position: absolute;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 238px;
    height: 67px;
    cursor: pointer;
}

.texto-caja button:hover{
    background: #0A3871 ; 
    color: #D8DFE8;;
}

    @media only screen and (min-device-width : 1920px) {
         
    body{
        position: absolute;
        top:80px;
        background-image: url(../image/biometric-technology-background-with-fingerprint-scanning-system-on-virtual-screen-digital-remix.jpg);
        left: 150px;
    }

    header img{
        position: absolute;
        top:-58px;
    }

    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 844px) {
       
    
    body{
        
        width: 320px;
        height: 755px;
        background-image: url(../image/biometric-bigx.jpg);
     

    }

    header{
        position: absolute;
        height: 96px;
        left: 4.27%;
        top: 5%;
        bottom: 5%;
    }
    .area-text{
        position: absolute;
        width: 638px;
        height: 270px;
        left: 161px;
        top: 152px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871 ;
        text-transform: lowercase;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .encriptar{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 800px;
        height: 158px;
        left: 83px;
        top: 485px;
        justify-content: center;
       
    }
    .button-encriptar{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 650px;
    }
    .button-desencriptar{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 650px;
    }

    .info{
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        position: absolute;
        width: 245px;
        height: 18px;
        left: 164px;
        top: 451px;
    }

    .caja-contenedora{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px;
        gap: 32px;
       margin: 0 auto;
        width: 557px;
        height: 186px;
        left: 169px;
        top: 707px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        justify-content: center;
    }

    .caja-contenedora textarea{
        width: 279px;
        height: 162px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #495057;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .caja-contenedora img{
        display: none;
    }

    .texto-caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 270px;
        left: 338px;
        top: 772px;
        margin: 0 auto;
}

    .texto-caja h2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 263px;
        height: 58px;
        margin: 0 auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-align: center;  
        color: #343A40;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
   
    .texto-caja p{
       
        width: 205px;
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #495057;
        flex: none;
        order: 1;
        flex-grow: 0;
        display: flex;
        position: absolute;
        top: 70px;
        
        }

    .caja-contenedora .icono{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 570px;
    }
}
